<div class="p-4 flex-grow flex flex-col items-center justify-center">
    <h1 class="text-3xl font-bold mb-4">Alphabet-Wise Personality Analysis Output: {{ analysis_data.category }}</h1>
    <div class="text-xl bg-pink-100 rounded-md p-4">
      <div>
        {% for item in analysis_data.items %}
        <p class="font-bold mb-2">{{ item.title }}</p>
        <p>{{ item.description }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="flex">
      <div class="m-5">
        <a href="{{ url_for('index') }}" class="bg-pink-500 text-white py-2 px-4 rounded-lg hover:bg-pink-700">Back to Home</a>
      </div>
      <div class="m-5">
        <a href="{{ url_for('download_report') }}" class="bg-pink-500 text-white py-2 px-4 rounded-lg hover:bg-pink-700">Download Report</a>
      </div>
    </div>
  </div>
  